<section class="section">
  <h1 class="title is-3" [innerHTML]="'doctor.title' | translate"></h1>
  <div class="field" *ngFor="let item of doctors">
    <div class="card large">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img src="/assets/doctor.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4 no-padding">{{item.DName}}</p>
            <p><span class="title is-6">{{item.Department}} - {{item.Specialization}}</span></p>
            <p class="subtitle is-6">{{item.HospitalNameAdd}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
