<div class="section">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Emergency Details
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          🚨
        </span>
      </a></header>
    <div class="card-content">
      <p class="content">
        In case of any emergency please call the Help Desk number/Ambulance

        <a href="tel:0820-2575555">0820-2575555</a> and they will attend to your queries.
      </p>
      <p class="content">
        You can also call to <a href="tel:9686675458">9686675458</a> (Registrar, Department of
        Cardiology, Kasturba Hospital, Manipal) for further clarification.
      </p>
    </div>
  </div>
</div>
