<nav class="navbar is-fixed-top has-shadow is-mobile" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu" style="background-color: #3273dc">
    <div class="navbar-start">
      <div class="navbar-item has-text-white">
        <span class="icon" tabindex="1" (click)="sideBarIconClicked()">
          <fa-icon [icon]="iconSidebar"></fa-icon>
        </span>
      </div>
    </div>
    <div class="navbar-center">

      <div class="navbar-item title is-4 is-uppercase">
        <figure class="image is-64x64" style="padding: 1rem">
          <img src="./assets/logo.png" [class.is-spinning]="isSpinning() | async" style="max-height: unset">
        </figure>
      </div>

    </div>
    <div class="navbar-end">
      <div class="navbar-item has-text-white">
        <span class="icon" tabindex="2" (click)="moreIconClicked()">
          <fa-icon [icon]="iconLang"></fa-icon>
        </span>
      </div>
    </div>
  </div>
</nav>
