.icon {
  transition: all 0.4s ease-in;
  &:before {
    content: '';
    background-color: lightgray;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }
  &:focus {
    outline: 0;
    &:before {
      animation: effect_dylan 0.8s ease-out;
    }
  }
}

.navbar-start, .navbar-end {
  width: 20%;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 3.25rem !important;
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}


