.example-viewport {
  max-height: 60vh;;
  width: 60vw;
}

.example-item {
  height: 50px;
}

.field {
  .is-checkradio[type=radio]+label {
    display: block;
  }
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  label {
    padding: 0 3rem;
  }
}
