<div class="stepper-container">
  <ng-content></ng-content>
  <section class="section" *ngIf="buttonsVisible">
    <div class="buttons has-addons is-centered">
      <button class="button is-warning" *ngIf="stepperService.currentIndex > 0" (click)="previousButtonClicked()"
              [innerHTML]="'firstInstall.previous' | translate">
      </button>
      <button class="button is-link" *ngIf="!stepperService.isEnd()" [class.is-fullwidth]="stepperService.isStart()"
              (click)="nextButtonClicked()" [innerHTML]="'firstInstall.next' | translate"
              [disabled]="stepperService.nextDisabled">
      </button>
      <button class="button is-success" *ngIf="stepperService.isEnd()" [disabled]="stepperService.nextDisabled"
              (click)="confirmButtonClicked()">Confirm
      </button>
    </div>
  </section>
</div>
