<section class="section">
  <h1 class="title is-3" [innerHTML]="'personalDetails.title' | translate"></h1>
  <form [formGroup]="form" *ngIf="form">
    <div class="field">
      <label class="label">ID</label>
      <p class="control has-icons-left">
        <input class="input" type="number" formControlName="id" placeholder="1571">
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconAddressBook"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('id').valid">This id is invalid</p>
    </div>
    <div class="field">
      <label class="label" [innerHTML]="'personalDetails.PatName.label' | translate"></label>
      <p class="control has-icons-left">
        <input class="input" type="text" formControlName="PatName"
               placeholder="{{'personalDetails.PatName.placeholder' | translate}}">
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconUser"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('PatName').valid">This PatName is invalid</p>
    </div>
    <div class="field">
      <label class="label" [innerHTML]="'personalDetails.DOB.label' | translate"></label>
      <p class="control has-icons-left">
        <input class="input" type="date" formControlName="DOB"
               placeholder="{{'personalDetails.DOB.placeholder' | translate}}">
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconUser"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('DOB').valid">This Date of Birth is invalid</p>
    </div>
    <div class="field">
      <label class="label" [innerHTML]="'personalDetails.Address.label' | translate"></label>
      <p class="control has-icons-left">
        <input class="input" type="text" formControlName="Address"
               placeholder="{{'personalDetails.Address.placeholder' | translate}}"
        >
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconAddress"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('Address').valid">This Address is invalid</p>
    </div>
    <div class="field">
      <label class="label" [innerHTML]="'personalDetails.Location.label' | translate"></label>
      <p class="control has-icons-left">
        <input class="input" type="text" formControlName="Location"
               placeholder="{{'personalDetails.Location.placeholder' | translate}}"
        >
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconAddress"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('Location').valid">This Location is invalid</p>
    </div>
    <div class="field">
      <label class="label" [innerHTML]="'personalDetails.City.label' | translate"></label>
      <p class="control has-icons-left">
        <input class="input" type="text" formControlName="City"
               placeholder="{{'personalDetails.City.placeholder' | translate}}"
        >
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconAddress"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('City').valid">This City is invalid</p>
    </div>
    <div class="field">
      <label class="label" [innerHTML]="'personalDetails.Pincode.label' | translate"></label>
      <p class="control has-icons-left">
        <input class="input" type="number" formControlName="Pincode"
               placeholder="{{'personalDetails.Pincode.placeholder' | translate}}"
        >
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconAddress"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('Pincode').valid">This Pincode is invalid</p>
    </div>
    <div class="field">
      <label class="label" [innerHTML]="'personalDetails.MobileNo.label' | translate"></label>
      <p class="control has-icons-left">
        <input class="input" type="number" formControlName="MobileNo"
               placeholder="{{'personalDetails.MobileNo.placeholder' | translate}}"
        >
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconPhone"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('MobileNo').valid">This MobileNo is invalid</p>
    </div>
    <div class="field">
      <label class="label" [innerHTML]="'personalDetails.AltMobileNo.label' | translate"></label>
      <p class="control has-icons-left">
        <input class="input" type="number" formControlName="AltMobileNo"
               placeholder="{{'personalDetails.AltMobileNo.placeholder' | translate}}"
        >
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconMobile"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('AltMobileNo').valid">This AltMobileNo is invalid</p>
    </div>
    <!--<div class="field">
      <label class="label" [innerHTML]="'personalDetails.Birth.label' | translate"></label>
      <p class="control has-icons-left">
        <input class="input" type="date" formControlName="Birth" placeholder="1998-10-20">
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconCalendarCheck"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('Birth').valid">This Birth is invalid</p>
    </div>-->
    <div class="field">
      <label class="label" [innerHTML]="'personalDetails.Email.label' | translate"></label>
      <p class="control has-icons-left">
        <input class="input" type="email" formControlName="Email" placeholder="contact@enoviah.fr">
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconAt"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('Email').valid">This Email is invalid</p>
    </div>
    <div class="field">
      <label class="label" [innerHTML]="'personalDetails.Relationship.label' | translate"></label>
      <div class="control">
        <div class="select is-info is-fullwidth">
          <select formControlName="MaritialStatus" class="is-fullwidth">
            <option selected value="Married">Married</option>
            <option value="Unmarried">Unmarried</option>
            <option value="Separated">Separated</option>
            <option value="Widow">Widow</option>
            <option value="Divorced">Divorced</option>
          </select>
        </div>
        <p class="help is-danger" *ngIf="!form.get('MaritialStatus').valid">This MaritialStatus is invalid</p>
      </div>
    </div>
    <div class="field" *ngIf="form">
      <label class="label" [innerHTML]="'personalDetails.CareGiver.label' | translate"></label>
      <p class="control has-icons-left">
        <input disabled class="input" type="text" formControlName="FCGName"
               placeholder="{{'personalDetails.CareGiver.placeholder' | translate}}"
        >
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconUser"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('FCGName').valid">This Caregiver is invalid</p>
    </div>
    <div class="field" *ngIf="form">
      <label class="label" [innerHTML]="'personalDetails.FCGEmail.label' | translate"></label>
      <p class="control has-icons-left">
        <input disabled class="input" type="text" formControlName="FCGEmail"
               placeholder="{{'personalDetails.FCGEmail.placeholder' | translate}}"
        >
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconUser"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('FCGName').valid">This FCGEmail is invalid</p>
    </div>
    <div class="field" *ngIf="form">
      <label class="label" [innerHTML]="'personalDetails.FCGMobileNo.label' | translate"></label>
      <p class="control has-icons-left">
        <input disabled class="input" type="text" formControlName="FCGMobileNo"
               placeholder="{{'personalDetails.CareGiver.placeholder' | translate}}"
        >
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconUser"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('FCGMobileNo').valid">This FCGMobileNo is invalid</p>
    </div>
    <div class="field" *ngIf="form">
      <label class="label" [innerHTML]="'personalDetails.FCGAltMobileNo.label' | translate"></label>
      <p class="control has-icons-left">
        <input disabled class="input" type="text" formControlName="FCGAltMobileNo"
               placeholder="{{'personalDetails.CareGiver.placeholder' | translate}}"
        >
        <span class="icon is-small is-left">
          <fa-icon [icon]="iconUser"></fa-icon>
        </span>
      </p>
      <p class="help is-danger" *ngIf="!form.get('FCGAltMobileNo').valid">This FCGAltMobileNo is invalid</p>
    </div>
    <div class="field">
    </div>
  </form>
</section>
