<div class="choose-lang-subpage has-text-centered is-grouped-centered" [class.card]="cardMode">
  <section class="section">
    <p class="title is-5">{{'firstInstall.chooseLang.title' | translate}}</p>
    <div class="field">
      <div class="control has-icons-left is-inline-block">
        <div class="select is-medium">
          <select #selectRef [(ngModel)]="actualLang" (change)="selectChange(selectRef)">
            <option disabled class="is-unselectable">Lang</option>
            <option>English</option>
            <option>ಕನ್ನಡ</option>
            <option>Francais</option>
          </select>
        </div>
        <span class="icon is-medium is-left">
          <fa-icon [icon]="changeLangIcon"></fa-icon>
        </span>
      </div>
    </div>
  </section>
</div>
