<div class="section">
  <p class="title is-3">Exercises 💪🏽</p>
  <div class="field" *ngFor="let item of exercise">
    <div class="card large">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img src="/assets/exercise.jpeg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4 no-padding">{{item.ELPlanName}}</p>

          </div>
        </div>
        <div class="content" [innerHTML]="item.ELPlanDescription">
          <div class="background-icon"><span class="icon-facebook"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
