<section class="section">
  <div class="container">
    <h1 class="title" [innerHTML]="'devPurpose.var1' | translate"></h1>
    <h2 class="subtitle" [innerHTML]="'devPurpose.var2' | translate">

    </h2>
    <div class="field">
      <h1 class="title">Local Notification</h1>
      <button class="button is-primary" (click)="launchNotification()">Launch local notification !</button>
    </div>
    <div class="field">
      <h1 class="title">Change Lang</h1>
      <div class="control has-icons-left is-inline-block">
        <div class="select is-medium">
          <select #selectRef (change)="selectChange(selectRef)">
            <option disabled class="is-unselectable">Lang</option>
            <option>en-US</option>
            <option>kn-IN</option>
            <option>fr-FR</option>
          </select>
        </div>
        <span class="icon is-medium is-left">
          <fa-icon [icon]="changeLangIcon"></fa-icon>
        </span>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">👷 Admin</h1>
    <h2 class="subtitle">
      All the features are showed here for test before moving to <strong>the right place</strong>.
    </h2>
    <div class="field">
      <h1 class="title">Reset Application</h1>
      <button class="button is-danger" (click)="resetApplication()">Reset !</button>
    </div>
  </div>
</section>
