<app-week-scroller [weekElements]="weekElements"
                   (weekElementClicked)="calendarChangeWeekEvent($event)"></app-week-scroller>
<app-day-scroller *ngIf="false" [dayElements]="getActiveWeek().days"
                  (dayElementClicked)="calendarChangeDayEvent($event)"></app-day-scroller>
<app-icon-bar [emojis]="iconsForFilterBar"></app-icon-bar>
<ng-container *ngFor="let item of weekElements">
  <ng-container *ngIf="item.active">
    <section class="section">
      <div class="container">
        <div class="field">
          <h1 class="has-text-weight-semibold title is-4">Lundi 18</h1>
          <app-card-collapsile [title]="'💊 - Mon event'">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </app-card-collapsile>
          <app-card-collapsile [title]="'💊 - Mon event'">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </app-card-collapsile>
        </div>
        <div class="field">
          <h1 class="has-text-weight-semibold title is-4">Mardi 19</h1>
          <app-card-collapsile [title]="'💊 - Mon event'">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </app-card-collapsile>
          <app-card-collapsile [title]="'💊 - Mon event'">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </app-card-collapsile>
        </div>
        <hr>
        <div class="field">
          <h1 class="has-text-weight-semibold  title is-4">Jeudi 20</h1>
          <app-card-collapsile [title]="'💊 - Mon event'">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </app-card-collapsile>
          <app-card-collapsile [title]="'💊 - Mon event'">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </app-card-collapsile>
        </div>
        <hr>
        <div class="field">
          <h1 class="has-text-weight-semibold title is-4">Next month</h1>
          <app-card-collapsile [title]="'💊 - Mon event'">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </app-card-collapsile>
          <app-card-collapsile [title]="'💊 - Mon event'">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </app-card-collapsile>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
