<app-week-scroller [weekElements]="weekElements"
                   (weekElementClicked)="calendarChangeWeekEvent($event)"></app-week-scroller>
<app-day-scroller *ngIf="false" [dayElements]="getActiveWeek().days"
                  (dayElementClicked)="calendarChangeDayEvent($event)"></app-day-scroller>
<app-icon-bar [emojis]="iconsForFilterBar"></app-icon-bar>
<ng-container *ngFor="let item of weekElements">
  <ng-container *ngIf="item.active">
    <section class="section">
      <div class="container">
        <!--- 0 < 3 Days--->
        <!--- 4 < 8 Days--->
        <div class="field" *ngFor="let itemDay of item.days">
          <h1 class="has-text-weight-semibold title is-4 is-capitalized">{{itemDay.date | date: 'EEEE dd' : '' : translateService.currentLang}}</h1>
          <ng-container *ngFor="let itemEvent of itemDay.events">
            <app-card-collapsile *ngIf="isAllowedEmoji(itemEvent.emoji)" [title]="itemEvent.emoji + ' - ' + itemEvent.title">
              <div class="content">
                <p>{{itemEvent.text}}</p>
              </div>
            </app-card-collapsile>
          </ng-container>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
