<div class="section">
  <p class="title is-3">Diet Plan 🥕</p>
  <div class="field" *ngFor="let item of diets">
    <div class="card large">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img src="/assets/vegetables.jpg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4 no-padding">{{item.DSPlanName}}</p>
            <p class="subtitle is-6">  </p>
          </div>
        </div>
        <div class="content">
          {{item.DSPlanDescription}}
          <div class="background-icon"><span class="icon-facebook"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
