<ng-container *ngIf="visible">
  <div class="sidebar-background is-overlay" (click)="backgroundClicked()"></div>
  <div class="sidebar box is-paddingless scale-up-hor-left">
    <div class="sidebar-header has-text-centered">
      <figure class="image is-128x128">
        <img src="./assets/logo.png">
      </figure>
    </div>
    <aside class="menu">
      <p class="menu-label">
        Quicklinks
      </p>
      <ul class="menu-list">
        <li *ngFor="let item of sidebarQuickLinksElements">
          <a class="level is-mobile"
             [class.is-active]="item.active" (click)="elementClick(item)">
            <!-- Left side -->
            <div class="level-left">
              <div class="level-item">
                <span class="icon is-large">
                  <fa-icon size="lg" [icon]="item.icon"></fa-icon>
                </span>
              </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
              <a [class.is-active]="item.active" class="level-item is-paddingless">{{item.name}}</a>
            </div>
          </a>
        </li>
      </ul>
      <p class="menu-label">
        Communicate
      </p>
      <ul class="menu-list">
        <li *ngFor="let item of sidebarCommunicateElements">
          <a [class.is-active]="item.active" (click)="elementClick(item)" class="level is-mobile">
            <!-- Left side -->
            <div class="level-left">
              <div class="level-item">
                <span class="icon is-large">
                  <fa-icon size="lg" [icon]="item.icon"></fa-icon>
                </span>
              </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
              <a [class.is-active]="item.active" class="level-item is-paddingless">{{item.name}}</a>
            </div>
          </a>
        </li>
      </ul>
      <p class="menu-label">
        Settings
      </p>
      <ul class="menu-list">
        <li *ngFor="let item of sidebarSettingElements">
          <a [class.is-active]="item.active" (click)="elementClick(item)" class="level is-mobile">
            <!-- Left side -->
            <div class="level-left">
              <div class="level-item">
                <span class="icon is-large">
                  <fa-icon size="lg" [icon]="item.icon"></fa-icon>
                </span>
              </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
              <a [class.is-active]="item.active" class="level-item is-paddingless">{{item.name}}</a>
            </div>
          </a>
        </li>
      </ul>
    </aside>
  </div>
</ng-container>
